
.btn-filled {
    background-color: var(--primary-color);
    padding: 10px 20px;
    outline: none;
    color: white;
    border-radius: 10px;
    border: none;
    border: 1px solid var(--primary-color);
}

.btn-outlined {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    outline: none;
    color: white;
    border-radius: 10px;
    color: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}