.signin {

    height: 100vh;
    overflow: hidden;

    .row {
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .signinForm {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        margin: 0px auto;


        a{
            color: var(--primary-color);
        }

    }

}